<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="8D0F13E8-6A4B-4B62-9700-A4B2EBAA7C51">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" Description="MangoPOS Desktop + LAN Agent" />
    <MajorUpgrade DowngradeErrorMessage="Ya hay una versión más reciente instalada." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.SourceDir)\App\data\flutter_assets\assets\icon\app_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="MangoPOS">
          <Directory Id="APPDIR" Name="App" />
          <Directory Id="AGENTDIR" Name="Agent" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="MangoPOS" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="APPDIR">
      <Component Id="cmpMainExe" Guid="A1111111-1111-4111-8111-111111111111" Win64="yes">
        <File Id="filMainExe" Source="$(var.SourceDir)\App\mangopos.exe" KeyPath="yes" Checksum="yes" />
        <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Name="MangoPOS" WorkingDirectory="APPDIR" Icon="AppIcon.ico" Advertise="no" Target="[APPDIR]mangopos.exe" />
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="MangoPOS" WorkingDirectory="APPDIR" Icon="AppIcon.ico" Advertise="no" Target="[APPDIR]mangopos.exe" />
        <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\MangoPOS" Name="Installed" Type="integer" Value="1" KeyPath="no" />
      </Component>
      <Component Id="cmpAppPayload" Guid="A2222222-2222-4222-8222-222222222222" Win64="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AGENTDIR">
      <Component Id="cmpAgentPayload" Guid="A3333333-3333-4333-8333-333333333333" Win64="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <Binary Id="AgentInstallScript" SourceFile="$(var.SourceDir)\Agent\setup.bat" />

    <CustomAction Id="InstallAgent" Directory="AGENTDIR" ExeCommand="/c &quot;[AGENTDIR]setup.bat&quot;" Execute="deferred" Return="check" Impersonate="no" ExeCommandType="CommandLine" FileKey="filCmdExe" />

    <Property Id="CMDLINE" Value="[SystemFolder]cmd.exe" />
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cmpCmdShim" Guid="A4444444-4444-4444-8444-444444444444" Win64="yes">
        <File Id="filCmdExe" Source="C:\Windows\System32\cmd.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="MangoPOS" Level="1">
      <ComponentRef Id="cmpMainExe" />
      <ComponentRef Id="cmpAppPayload" />
      <ComponentRef Id="cmpAgentPayload" />
      <ComponentRef Id="cmpCmdShim" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="InstallAgent" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
